doctype html
html
    head
        title Add Spending
    body
        form(method="post", action="insert")
            h3 Add Spending
            label On
            select
                option Jan
                option Feb
                option Mar
                option Apr
                option Mai
                option Jun
                option Jul
                option Aug
                option Set
                option Oct
                option Nov
                option Dec
            input(type="submit")